@{
    ViewBag.Title = "ChinhSuaSanPham";
    Layout = "~/Areas/QuanLy/Views/Shared/LayoutQuanLy.cshtml";
}
@using Web_Laptopshop.ViewModel
@using Web_Laptopshop.Models
@model SanPhamVM
<div id="layoutSidenav_content">
    <main class="py-5">
        <div class="container">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h3 class="mb-0">Update Product Information</h3>
                </div>
                <div class="card-body">
                    <form action="/QuanLy/SanPham/ChinhSuaSanPham/?id=@Model.SanPham.Id" method="post" enctype="multipart/form-data">
                        <div class="mb-4 text-center">
                            <div class="product-image-upload">
                                @if (Model.HinhAnhDaiDien != null)
                                {
                                    <img src="~/Content/Upload/HinhAnh/@Model.HinhAnhDaiDien.HinhAnhUrl"
                                         alt="Product Image"
                                         class="img-fluid product-image" />
                                }
                                @*<img id="productImagePreview"
                                     src="~/Content/Upload/HinhAnh/@Model.HinhAnhUrl"
                                     alt="Product Image"
                                     class="product-image-preview border" />*@
                                <label for="productImageUpload"
                                       class="custom-file-upload mt-4">
                                    <i class="bi bi-upload"></i>
                                    Upload Image
                                </label>
                                <input type="file"
                                       id="productImageUpload"
                                       class="d-none"
                                       accept="image/*"
                                       name="fileUpload"
                                       onchange="previewProductImage(event)" multiple/>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="productName"
                                   class="form-label font-weight-bold">Product Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="productName"
                                   name="Ten"
                                   value="@Model.SanPham.TenSanPham"
                                   required />
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="productPrice"
                                       class="form-label font-weight-bold">Price</label>
                                <input type="number"
                                       class="form-control"
                                       id="productPrice"
                                       name="Gia"
                                       value="@Model.SanPham.Gia"
                                       required />
                            </div>
                            <div class="col-md-6">
                                <label for="productQuantity"
                                       class="form-label font-weight-bold">Quantity</label>
                                <input type="number"
                                       class="form-control"
                                       id="productQuantity"
                                       name="SoLuong"
                                       value="@Model.SanPham.SoLuong"
                                       required />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="productDetailDesc"
                                   class="form-label font-weight-bold">Detail Description</label>
                            <textarea id="productDetailDesc"
                                      class="form-control"
                                      style="resize: none"
                                      rows="5"
                                      name="MoTaChiTiet"
                                      required>
                                Mô tả
                            </textarea>

                        </div>

                        <div class="mb-3">
                            <label for="productShortDesc"
                                   class="form-label font-weight-bold">Short Description</label>
                            <textarea id="productShortDesc"
                                      class="form-control"
                                      style="resize: none"
                                      name="MoTaNgan"
                                      rows="3"
                                      required>
@Model.SanPham.TieuDe
                            </textarea>

                        </div>

                        <div class="mb-3">
                            <label for="productFactory"
                                   class="form-label font-weight-bold">Factory</label>
                            <select class="form-select"
                                    id="productFactory"
                                    value="@Model.SanPham.ThuongHieu.TenThuongHieu"
                                    name="ThuongHieu"
                                    required>
                                @foreach (ThuongHieu th in ViewBag.DanhSachThuongHieu)
                                {
                                    <option value="@th.Id">@th.TenThuongHieu</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="LoaiSanPham"
                                   class="form-label font-weight-bold">Loại Sản Phẩm</label>
                            <select class="form-select"
                                    id="LoaiSanPham"
                                    value="@Model.SanPham.LoaiSanPham.TenLoai"
                                    name="LoaiSanPham"
                                    required>
                                @foreach (LoaiSanPham lsp in ViewBag.DanhSachLoaiSP)
                                {
                                    <option value="@lsp.Id">@lsp.TenLoai</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="MucDich"
                                   class="form-label font-weight-bold">Mục đích sử dụng</label>
                            <select class="form-select"
                                    id="MucDich"
                                    value="@Model.SanPham.PhanKhuc.TenPhanKhuc"
                                    name="MucDich"
                                    required>
                                @foreach (PhanKhuc md in ViewBag.DanhSachMucDich)
                                {
                                    <option value="@md.Id">@md.TenPhanKhuc</option>
                                }
                            </select>
                        </div>

                        @*<div class="mb-3">
                                <label for="productTarget"
                                       class="form-label font-weight-bold">Target</label>
                                <select class="form-select"
                                        id="productTarget"
                                        name="PhanKhuc"
                                        required>
                                    <option value="GAMING">
                                        Gaming
                                    </option>
                                    <option value="SINHVIEN-VANPHONG"
                                            selected>
                                        Sinh viên - Văn phòng
                                    </option>
                                    <option value="THIETKEDOHOA">
                                        Thiết kế đồ họa
                                    </option>
                                    <option value="MONGNHE">
                                        Mỏng nhẹ
                                    </option>
                                    <option value="DOANHNHAN">
                                        Doanh nhân
                                    </option>
                                </select>
                            </div>*@

                        <div class="text-center">
                            <button type="submit"
                                    class="btn btn-primary">
                                Update Product
                            </button>
                            <a href="/QuanLy/SanPham/Index"
                               class="btn btn-secondary mx-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        function previewProductImage(event) {
            const productImagePreview = document.getElementById(
                "productImagePreview"
            );
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                productImagePreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    </script>
</div>

<style>
    body {
        background-color: #f4f6f9;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        margin-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-header {
        background-color: #0069d9;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #0069d9;
    }

    .btn-primary {
        background-color: #0069d9;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .product-image-upload {
        position: relative;
        max-width: 250px;
        margin: auto;
    }

    .product-image-preview {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        border: 2px solid #0069d9;
    }

    .custom-file-upload {
        border: 1px solid #0069d9;
        display: inline-block;
        padding: 8px 14px;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        color: #0069d9;
        width: 180px;
    }

        .custom-file-upload:hover {
            background-color: #0069d9;
            color: white;
        }
</style>
